.heading{
    font-size: 90px;
}

/* @media screen and (max-width:600px){
    .heading{
        font-size: 50px;
        color: red;
    }
}

@media screen and (max-width:400px){
    .heading{
        font-size: 20px;
        color: blue;
    }
} */

@media screen and (min-width:600px){
    .heading{
        font-size: 50px;
        color: red;
    }
}

@media screen and (min-width:400px){
    .heading{
        font-size: 20px;
        color: blue;
    }
}