body{
    background-image: url("../image/bg.png");
    background-position: center;
}


.form{
    border: 3px solid var(--gray-900);
    width: 384px;
    padding: 32px;
    background-color: white;
    margin: auto;
}

.form-heading{
    color: var(--gray-900);
    font-size: 32px;
    font-weight: 900;
    margin-bottom: 24px;
}

 .input-group{
    /* border: 1px solid black; */
    margin-bottom: 20px;
} 

.input-label{
    display: block;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 8px;
}

.input,.select{
    display: block;
    padding: 12px 16px;
    width: 100%;
    border: 2px solid var(--gray-900);
}

.checkbox-label{
    font-size: 14px;
    font-weight: 500;
}

.checkbox{
    accent-color: var(--gray-900);
}

.btn-black{
    background-color: var(--gray-900);
    color: white;
    border: none;
    padding: 14px 32px;
    font-size: 14px;
    font-weight: 600;
    display: block;
    margin-left: auto;
}