.table{
    border-collapse: collapse;
    width: 100%;
}

.table th, .table td{
    border: 1px solid black ;
    padding: 16px;
}


.table-blue th, .table-blue td{
    border: 1px solid var(--blue) ;
    padding: 16px;
}

.table-blue thead tr{
    background-color: var(--blue);
    color: white;
}

.table-pink th, .table-pink td{
    border: 1px solid var(--pink) ;
    padding: 16px;
}

.table-pink thead tr{
    background-color: var(--pink);
    color: white;
}

.table-pink.table-hover tbody tr:hover{
    background-color: rgb(218, 162, 172);
}

/* :first-child */
/* :last-child */
/* :nth-child=>number,odd,even  */
.table-strip tbody tr:nth-child(odd){
    background-color: rgb(218, 162, 172);
}