@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css);

@import url("../-vriable.css");

@import url("../-global.css");

@import url("../-utilies.css");

@import url("../components/-button.css");
@import url("../components/-text.css");
@import url("../components/-table.css");

@import url("../components/-card.css");




